{% extends 'pojisteni/base.html' %}
{% load static %}
{% block content %}
<h1>User form</h1>
<hr>
<div class="col-md-4"></div>
    <section class="login-form"

        <form method="post" action="">
            {% csrf_token %}
            <div class="container-fluid">
                {{ form }}
                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Login">Submit</button>

            </div>
        </form>
    </section>
<div class="col-md-4"></div>
{% endblock %}
